<div class="container">
  <div class="title">
    <h3>Congrats, here is your new booking!<%= render "bookings/status", booking: @booking %></h3>
  </div>

  <div class="exemple">
    <div class="row">

      <div class="col-4">
        <div class="carroussel shadow">
          <% if  @booking.product.photos.attached? %>
            <div id="carouselExample-<%=@booking.id%>" class="carousel slide w-100" data-bs-interval="false">

              <div class="carousel-inner">
                <%@booking.product.photos.each_with_index do |photo, index| %>

                  <div class="carousel-item  <%= "active" if index == 0%>">
                    <%= cl_image_tag photo.key, class:"card-img-top", style:"height: 300px;object-fit: cover;" %>
                  </div>
                <% end %>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-<%=@booking.id%>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-<%=@booking.id%>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class = "visually-hidden">Next</span>
              </button>
            </div>
          <% else %>
            <img src="https://images.unsplash.com/photo-1531565637446-32307b194362?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2thdGVib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
          <% end %>
        </div>
        <div class="booking-recap shadow">
          <div class="recap">
            <h4> Recap: </h4>
          </div>
            <div class="corps">
              <br>
              <i class="fa-solid fa-thumbs-up"></i> - <%= @booking.product.name.capitalize %>
              <br>
              <p>(daily cost) = <%= @booking.product.price_per_day %> € / day</p>
              <br>
              <i class="fa-regular fa-calendar"></i>  <span>Renting starts on <%= @booking.start_date %></span>
              <br>
              <i class="fa-regular fa-calendar"></i>  <span>Renting ends on <%= @booking.end_date %></span>
              <br>
              <br>
              <i class="fa-solid fa-sack-dollar"></i> - <span><strong><%= @booking.price %> €</strong></span>
              <br>
              <br>
            </div>
                <div class="more text-center">
                  <% unless @booking.passed? %>
                    <p><strong>More: </strong></p>
                    <div class="action-buttons"></div>
                    <%= link_to "Modify my booking", edit_booking_path(@booking), class: "btn btn-primary text-white" %>
                    <br>
                    <br>
                    <%= link_to "Delete my booking", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you certain ?"}, class:"btn btn-danger text-white" %>
                  <% end %>
                </div>
        </div>
      </div>

      <div class="col-8">
        <div id="map-box" class="map-booking shadow"
          data-controller="map"
          data-showmap-target="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    </div>
  </div>
</div>
