<div class="container">
  <h1>Hello <%= @user.first_name %></h1>

  <h2>My current rent</h2>

  <h2>Previous rent</h2>

  <div class="d-flex">
    <h2>My products (<%= @user.products.length %>)</h2>
    <%= link_to new_product_path do %>
      <button type="button" class="btn btn-light">Add a new product</button>
    <% end %>
  </div>

  <div class="row mb-3 ">
    <% @user.products.each do |product| %>
      <div class="col-4 mb-3">
        <div class="card h-100">
          <% if product.photos.attached? %>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% product.photos.each do |photo| %>
                  <div class="carousel-item active">
                    <%= cl_image_tag photo.key, class:"card-img-top", crop: :fill %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <% else %>
            <img src="https://images.unsplash.com/photo-1531565637446-32307b194362?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2thdGVib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
          <% end %>
          <div class="card-body">
            <strong><%= product.name %></strong>
            <p class="text-muted" ><%= product.price_per_day %>€/day</p>

            <span>
              <%= link_to "Edit", edit_product_path(product) %>
            </span>
            <span>
              <%= link_to "delete",
                              product_path(product),
                              data: {turbo_method: :delete,
                                    turbo_confirm: "Are you sure?"} %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
