<div data-controller="dashboard">
  <div>
    <div class="mt-3 mb-5 d-flex">
      <h4 id="client" class="active-button" data-action="click->dashboard#client" data-dashboard-target="btnClient">Bookings</h4>
      <h4 id="owner"  class="inactive-button" data-action="click->dashboard#owner" data-dashboard-target="btnOwner">Offers</h4>
    </div>
  </div>

  <!-- Client Part -->
  <div class="border-bottom mb-3" data-dashboard-target="client">
    <div class="mb-4">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="dashboard-title m-0">Current bookings (<%= @current_rent.length %>)</h4>
        <%= link_to root_path do %>
          <button type="button" class="btn btn-primary text-white font-weight-bold">Rent a new product</button>
        <% end %>
      </div>
      <%= render "pages/list_of_bookings", bookings: @current_rent %>
    </div>

    <div class="mb-5">
      <div class="d-flex">
        <h4 class="dashboard-title m-0">Previous bookings (<%= @previous_rent.length %>)</h4>
      </div>
      <%= render "pages/list_of_bookings", bookings: @previous_rent %>
    </div>
  </div>

  <!-- Owner Part -->
  <div class="d-none" data-dashboard-target="owner">

    <h4 class="dashboard-title m-0">Notifications (<%= @bookings_pending.length %>)</h4>
    <div class="row mb-5">
      <%= render "pages/demands_of_bookings", bookings_pending: @bookings_pending %>
    </div>

    <h4 class="dashboard-title m-0">Current offers (<%= @bookings_accepted.length %>)</h4>
    <div class="row mb-5">
      <%= render "pages/list_of_bookings", bookings: @bookings_accepted %>
    </div>

    <h4 class="dashboard-title m-0">Previous offers (<%= @bookings.length %>)</h4>
    <div class="row mb-5">
      <%= render "pages/list_of_bookings", bookings: @bookings_passed %>
    </div>

    <div class="d-flex">
      <h4 class="dashboard-title">All my  products (<%= @products.length %>)</h4>
      <%= link_to new_product_path do %>
        <button type="button" class="btn btn-light">Add a new product</button>
      <% end %>
    </div>

    <div class="row mb-5">
      <%= render 'products/small_carousel', products: @products %>
    </div>

  </div>
</div>
