<div class="container">

  <div class="mb-5 mt-3 d-flex align-items-center">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-large me-2", crop: :fill %>
    <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGJsZXV8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60", class: "avatar-large me-2" %>
    <% end %>
    <h1 class="m-0">Hello <%= current_user.first_name %></h1>
  </div>

  <div class="mb-5">
    <div class="d-flex">
      <h2>My current rent (<%= @current_rent.length %>)</h2>
      <%= link_to root_path do %>
        <button type="button" class="btn btn-light">Search a rent</button>
      <% end %>
    </div>
    <%= render "pages/list_of_bookings", bookings: @current_rent %>
  </div>

  <div class="mb-5">
    <div class="d-flex">
      <h2>My previous rent (<%= @previous_rent.length %>)</h2>
    </div>
    <%= render "pages/list_of_bookings", bookings: @previous_rent %>
  </div>

  <div class="mb-5">
    <%= render "pages/list_of_products", list_of_products: @products %>
  </div>
</div>
