<div class="container">

  <div class="mb-5 mt-3">
    <h1>Hello <%= current_user.first_name %></h1>
  </div>

  <div class="mb-5">
    <div class="d-flex">
      <h2>My current rent (<%= @current_rent.length %>)</h2>
      <%= link_to root_path do %>
        <button type="button" class="btn btn-light">Search a rent</button>
      <% end %>
    </div>
    <%= render "pages/list_of_bookings", bookings: @current_rent %>
  </div>

  <div class="mb-5">
    <div class="d-flex">
      <h2>My previous rent (<%= @previous_rent.length %>)</h2>
    </div>
    <%= render "pages/list_of_bookings", bookings: @previous_rent %>
  </div>

  <div class="mb-5">
    <%= render "pages/list_of_products", list_of_products: @products %>
  </div>
</div>
