<div>
  <nav>
    <div class="nav nav-tabs mt-3 mb-3" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-bookings-tab" data-bs-toggle="tab" data-bs-target="#nav-bookings" type="button" role="tab" aria-controls="nav-bookings" aria-selected="true">My bookings</button>
      <button class="nav-link" id="nav-offers-tab" data-bs-toggle="tab" data-bs-target="#nav-offers" type="button" role="tab" aria-controls="nav-offers" aria-selected="false">My offers</button>
      <button class="nav-link" id="nav-personal-info-tab" data-bs-toggle="tab" data-bs-target="#nav-personal-info" type="button" role="tab" aria-controls="nav-personal-info" aria-selected="false">My personnal information</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab">
      <div class="border-bottom mb-3">
        <div class="mb-4">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="m-0">Current bookings (<%= @current_rent.length %>)</h4>
            <%= link_to root_path do %>
              <button type="button" class="btn btn-primary text-white font-weight-bold">Rent a new product</button>
            <% end %>
          </div>
          <%= render "pages/list_of_bookings", bookings: @current_rent %>
        </div>
        <div class="mb-5">
          <div class="d-flex">
            <h4 class="m-0">Previous bookings (<%= @previous_rent.length %>)</h4>
          </div>
          <%= render "pages/list_of_bookings", bookings: @previous_rent %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-offers" role="tabpanel" aria-labelledby="nav-offers-tab">
      <div>
        <%= render "pages/demands_of_bookings", bookings_pending: @bookings_pending %>
          <h4 class="m-0">Current offers (<%= @bookings.length %>)</h4>
          <div class="row mb-5">
            <%= render "pages/list_of_bookings", bookings: @bookings_accepted %>
          </div>
          <h4 class="m-0">Previous offers (<%= @bookings.length %>)</h4>
          <div class="row mb-5">
            <%= render "pages/list_of_bookings", bookings: @bookings_passed %>
          </div>
        <div class="d-flex">
          <h4>All my products (<%= @products.length %>)</h4>
          <%= link_to new_product_path do %>
            <button type="button" class="btn btn-light">Add a new product</button>
          <% end %>
        </div>
        <div class="row mb-5">
          <%= render 'products/carousel', products: @products %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-personal-info" role="tabpanel" aria-labelledby="nav-personal-info-tab">
      Hello
    </div>
  </div>
</div>
