<div class="scrollmenu">
  <% products.each do |product| %>
    <div class="col-2 mt-3 me-2 pb-3 scrollsubmenu">
        <div class="product-card h-100 ">
          <div class="product-image">
            <%= link_to product_path(product), class:"text-decoration-none" do %>
              <% if product.photos.attached? %>
                <div id="carouselExample-<%=product.id%>" class="carousel slide" data-bs-interval="false">

                  <div class="carousel-inner">
                    <% product.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item  <%= "active" if index == 0%>">
                        <%= cl_image_tag photo.key, class:"card-img-top", style:"height: 200px; object-fit: cover;" %>
                      </div>
                    <% end %>
                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample-<%=product.id%>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample-<%=product.id%>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class = "visually-hidden">Next</span>
                  </button>

                </div>
              <% else %>
                <img src="https://images.unsplash.com/photo-1531565637446-32307b194362?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2thdGVib2FyZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
              <% end %>
            <% end %>
          </div>

          <div class="product-description">
            <span class="product-name"><%= product.name.capitalize %></span>
            <span class="product-price"><strong><%= product.price_per_day %> €</strong> per day</span>
          </div>

        </div>
    </div>
  <% end %>
</div>
