<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our available products</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @products.count %> products out of our <%= Product.count %> on our website.</p>
      <% else %>
        <p>All <%= Product.count %> products.</p>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card-product">
          <div class="product-card-image" style="background-image: url('<%= flat.picture_url %>')"></div>
          <div class="product-card-content">
            <div class="product-card-title">
              <h4><%= product.name %></h4>
            </div>
            <p><%= product.category %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= product.price_per_day %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= product.price_per_night %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", product_path(product) %>
            <%= link_to "Edit", edit_product_path(product), class: "ms-3 text-warning" %>
            <%= link_to "Remove", product_path(product),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
