<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <h1><%= @product.name %></h1>
      <p><%= @product.category %></p>
      <p><%= @product.year_of_purchase %></p>
      <p><%= @product.condition %></p>
      <%= @product.price_per_day %>€

    </div>


    <div class="col-4">
      <div class="product-show-card">
        <h5>Book this product!</h5>

        <%= simple_form_for [@product, @booking] do |f| %>
          <%= f.input :start_date, as: :date, order: [:day, :month, :year], start_date: Date.today %>
          <%= f.input :end_date, as: :date, order: [:day, :month, :year], start_date: Date.today %>
          <%= f.input :price, input_html: { value: @product.price_per_day } %>
          <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>

        <%# <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2023" aria-label="start-date" aria-describedby="start-date-label">
            <input type="date" name="" id="">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2023" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="product-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex ms-3">
            <%= @product.price_per_day %>€
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
