<div class="container margin-top-negative mt-3">
  <h1><%= @product.name.capitalize %></h1>

  <%= render "products/gallery", product: @product %>

  <div class="row mt-3">

    <div class="col-8">
      <div class="border-bottom d-flex align-items-center justify-content-between p-2">
        <h3>Equipement loué par <%= @product.user.first_name %></h3>
        <%= cl_image_tag @product.user.photo.key, crop: :fill, class:"rounded-circle", style:"width:70px; height:70px;" %>
      </div>
      <p><%= @product.category %></p>
      <p><%= @product.year_of_purchase %></p>
      <p><%= @product.condition %></p>
      <%= @product.price_per_day %>€
    </div>


    <div class="col-4">
      <div class="product-show-card" data-controller="dynamic-booking-price"
      data-dynamic-booking-price-price-value="<%= @product.price_per_day %>">
        <h5>Book this product!</h5>


        <%= simple_form_for [@product, @booking], html: {
              data: {
                controller: 'flatpickr',
                flatpickr_dates_value: @product.flatpickr_booked_dates_object
              }
            }  do |f| %>
          <%= f.input :start_date, label: false, as: :string,
                                  input_html: {
                                    class: 'd-none',
                                    data: {
                                      flatpickr_target: 'startDateInput',
                                      dynamic_booking_price_target: 'startDateInput',
                                      action: 'change->dynamic-booking-price#updatePrice'
                                    }
                                } %>
          <%= f.input :end_date, label: false, as: :string,
                                  input_html: {
                                    class: 'd-none',
                                    data: {
                                      flatpickr_target: 'endDateInput',
                                      dynamic_booking_price_target: 'endDateInput',
                                      action: 'change->dynamic-booking-price#updatePrice'
                                    }
                                } %>
          <p>
            <span data-dynamic-booking-price-target="priceHolder"><%= @product.price_per_day %></span>
            <span>€</span>
          </p>
          <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
